3-Textklassifikation-durch-KI-Agenten/Email-Tagging/Email Category Agent p1.json
{
  "name": "Email Category Agent p1",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg",
          "mode": "list",
          "cachedResultName": "Email Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [
        -288,
        0
      ],
      "id": "98b246b0-d6c6-4662-b3fd-f83131427237",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI that reads email messages and decides what kind of topic they are about.\nLook at the email text and write one of these categories:\nBusiness, Marketing, Support, HR, or Event.\nJust give the category. The output must only be one word, no exceptations.\n\nEmail:{{ $('When fetching a dataset row').item.json.Email }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "7781f47b-fdb3-4310-81a8-312e863e8310",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "6dd55b6c-ba6d-4c79-ba89-e7176158e19e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "jZJVS1uGdUfQ5Q3y",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bff1605-23ba-42c4-bb58-6762420fe256",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "96fc28f4-50b5-406a-b0c3-c4e3ce2ebae9",
              "name": "text",
              "value": "={{ $json.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -144
      ],
      "id": "5a7dfa41-4434-4364-a620-e71ed76803f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "8e02a0f7-6ef7-4efc-a6f2-7f5a38cc8b4b",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg",
          "mode": "list",
          "cachedResultName": "Email Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bCQJJWRgZTfezcWgIkyIX6TeCN45t1VOmeSDsdDFaAg/edit#gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Actual Category",
              "outputValue": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        768,
        -96
      ],
      "id": "147f1bd5-17fe-4f28-8f6b-02fbc0746bba",
      "name": "Set outputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json['Expected Category'] }}",
        "actualAnswer": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [
        976,
        -96
      ],
      "id": "907b6cb6-aa96-4b7b-82e1-bc823f1b8b97",
      "name": "Category"
    }
  ],
  "pinData": {},
  "connections": {
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Set outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set outputs": {
      "main": [
        [
          {
            "node": "Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e0aefcb-cc3c-4031-b599-9bd11cd983c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ccf733548d23f91bb0b6277631629d04096c1e0a087cf70a95bcf802bc98b7a"
  },
  "id": "5ScV0j3mAWFgdG8J",
  "tags": []
}