X bot GPT-oss.json
{
  "name": "X bot GPT-oss",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ca146150-bb8e-445b-a8dd-3a3847401018",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee22ec58-b898-46bd-ac41-813dc3e45cb2",
              "leftValue": "={{ $json.used }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        0
      ],
      "id": "eb9e3bc1-c8b6-4e4a-b7fc-09cf9f7d38d2",
      "name": "If",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        -160
      ],
      "id": "ee1d9d99-6c54-446f-b22e-a1def7adba6a",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c85b4e91-18c0-4850-a0d1-4fbcdc5734d5",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Riddle: {{ $json.Riddle }}\nAnswer: {{ $json.Answer }}\n\n\nCopy the riddle exactly as it is, do not change anything in the riddle.\nWrite the tweet now.",
        "options": {
          "systemMessage": "You are a social media copywriter for a riddle account on X (Twitter).\n\nYou receive a riddle and its answer.\n\nWrite exactly ONE tweet and ONE subject for the Post.\n\nDo NOT reveal the answer.\n\nKeep it under 260 characters.\n\nUse a friendly tone, maybe 1–2 emojis.\n\nEnd with a short call to action like “Reply with your guess!”\n\nAdd exactly one hashtag: #riddleoftheday\n\nThe Output should consist of ONLY ONE JSON with the two parts \"tweet\" and \"subject\". Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        -160
      ],
      "id": "be1001f2-5600-45bc-800c-04a4ddc627ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1088,
        32
      ],
      "id": "a5024746-d5db-4120-8188-38cb12f84d16",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "jZJVS1uGdUfQ5Q3y",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "seawallgren@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.tweet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        -160
      ],
      "id": "a703c65c-1617-4645-a48d-1b50c03f499d",
      "name": "Send a message",
      "webhookId": "8d4afe2d-be20-4437-881c-b2c37114c868",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z7TYwBGHgLtrNmpp",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "used": "TRUE",
            "posted_at": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Riddle",
              "displayName": "Riddle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        144
      ],
      "id": "242f6567-75d4-4208-9dea-217b115b6357",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "5873f86a-dfeb-4588-bffd-ee5513aaf55f",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "jZJVS1uGdUfQ5Q3y",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Riddle": "={{ $json.riddle }}",
            "Answer": "={{ $json.answer }}",
            "used": "={{ $json.used }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Riddle",
              "displayName": "Riddle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        416
      ],
      "id": "a66db6c9-9d5b-4ee6-bf3c-40d4c0a3c232",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 30 riddles now.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a riddle generator. Generate exactly 30 short, original, family-friendly riddles with their answers. Output only a JSON array, nothing else. Each element must look like: { \"riddle\": \"…\", \"answer\": \"…\" } No Markdown, no backticks, no explanation text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        944,
        208
      ],
      "id": "5ab0b105-486a-4c69-b1ae-102f14eee5a1",
      "name": "Basic LLM Chain",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -160
      ],
      "id": "ef0566af-e30f-473c-a0c8-4f15819790ae",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Look at items that went out of the TRUE branch of the IF node\n// 0 = true output, 1 = false output\nconst trueItems = $('If').all(0);   // <-- replace If with your IF node's name\n\n// If we DO have unused riddles (true branch has items),\n// then we don't want to run the refill (false branch) in this execution.\nif (trueItems.length > 0) {\n  // Return empty array = stop this branch completely\n  return [];\n}\n\n// If there were NO unused riddles, then run refill once.\n// Emit a single dummy item that will trigger the LLM chain.\nreturn [\n  { json: { refill: true } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        96
      ],
      "id": "51b94f4d-4888-4d96-ac20-698d176afaa9",
      "name": "Check If True"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string returned by the AI Agent\nconst rawString = $json.output;\n\n// Find the first '{' and the last '}' to isolate the JSON object\nconst start = rawString.indexOf('{');\nconst end = rawString.lastIndexOf('}');\n\nif (start === -1 || end === -1) {\n  throw new Error('No JSON object found in AI Agent output');\n}\n\n// Extract just the JSON substring\nconst jsonSubstring = rawString.slice(start, end + 1);\n\n// Parse it into a real JS object\nconst parsed = JSON.parse(jsonSubstring);\n\n// Return tweet + subject as clean fields\nreturn [\n  {\n    json: {\n      tweet: parsed.tweet,\n      subject: parsed.subject,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -160
      ],
      "id": "004f506c-aa86-4432-a525-c8b6e78f6717",
      "name": "Message Parser"
    },
    {
      "parameters": {
        "jsCode": "// AI output is a string containing a JSON array\nconst rawString = $json.text;   // 👈 was $json.output\n\nif (typeof rawString !== 'string') {\n  throw new Error('LLM output is not a string. Got: ' + typeof rawString);\n}\n\n// Extract only the JSON array part between the first [ and last ]\nconst start = rawString.indexOf('[');\nconst end = rawString.lastIndexOf(']');\n\nif (start === -1 || end === -1) {\n  throw new Error('No JSON array found in LLM output');\n}\n\nconst jsonSubstring = rawString.slice(start, end + 1);\n\n// Parse into JS array\nconst riddles = JSON.parse(jsonSubstring);\n\n// Turn each riddle into an n8n item, with used = FALSE\nreturn riddles.map(r => ({\n  json: {\n    riddle: r.riddle,\n    answer: r.answer,\n    used: false  // or 'FALSE' if you want literal text\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        208
      ],
      "id": "e8635fc5-954e-4e96-b5c8-62bd770e84e8",
      "name": "Riddle Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "posted_at": "{{ $now }}",
            "used": "TRUE"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Riddle",
              "displayName": "Riddle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        -160
      ],
      "id": "a5dc037b-1cab-47ce-87d7-65f37b7c1adc",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Riddle Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Check If True": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Parser": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Riddle Parser": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c38793d8-2166-4dc7-a486-679786d6f377",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ccf733548d23f91bb0b6277631629d04096c1e0a087cf70a95bcf802bc98b7a"
  },
  "id": "CPPYFYTwHWJvxxwm",
  "tags": []
}