4-X-Bot-Demonstration/X bot (1).json
{
  "name": "X bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "30461cd3-9ad6-4414-b498-68bc458e59e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee22ec58-b898-46bd-ac41-813dc3e45cb2",
              "leftValue": "={{ $json.used }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        0
      ],
      "id": "d416bc65-d0d4-4241-a2d1-02424c052efc",
      "name": "If",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        928,
        -160
      ],
      "id": "a8b7d643-25d1-4df3-bb91-290f4d2b7876",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "addf6f7d-ce68-411e-95ab-cba49a01f338",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Riddle: {{ $json.Riddle }}\nAnswer: {{ $json.Answer }}\n\n\nCopy the riddle exactly as it is, do not change anything in the riddle.\nWrite the tweet now.",
        "options": {
          "systemMessage": "You are a social media copywriter for a riddle account on X (Twitter).\n\nYou receive a riddle and its answer.\n\nWrite exactly ONE tweet and ONE subject for the Post.\n\nDo NOT reveal the answer.\n\nKeep it under 260 characters.\n\nUse a friendly tone, maybe 1–2 emojis.\n\nEnd with a short call to action like “Reply with your guess!”\n\nAdd exactly one hashtag: #riddleoftheday\n\nThe Output should consist of ONLY ONE JSON with the two parts \"tweet\" and \"subject\". Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1136,
        -160
      ],
      "id": "716b17b4-a33d-42ca-9ced-db72544a7aff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1088,
        32
      ],
      "id": "bb65b8dc-1d6e-4883-bd03-e45b59c9155f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "jZJVS1uGdUfQ5Q3y",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "seawallgren@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.tweet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        -160
      ],
      "id": "71ab3b88-e9ed-4cda-a4ff-d638f4e18d49",
      "name": "Send a message",
      "webhookId": "884e7cc1-a310-4c49-9468-9637d27a4b46",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z7TYwBGHgLtrNmpp",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "used": "TRUE",
            "posted_at": "={{ $now }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Riddle",
              "displayName": "Riddle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        -160
      ],
      "id": "ba561aad-02d7-4f50-9959-4a08dce57ad6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "d680d1d1-5c46-4609-84bf-88b0411925a4",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "jZJVS1uGdUfQ5Q3y",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE",
          "mode": "list",
          "cachedResultName": "Riddles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Blad1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e8KMIUPAWW5sq1SfTdpgL8mJdWlKztT0Rzm3nXfZPBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Riddle": "={{ $json.riddle }}",
            "Answer": "={{ $json.answer }}",
            "used": "={{ $json.used }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Riddle",
              "displayName": "Riddle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        416
      ],
      "id": "d9c66ad3-bcf5-4535-b541-24f6d40959b5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XDVobQ0jKYjLk5Ud",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate 30 riddles now.",
        "messages": {
          "messageValues": [
            {
              "message": "You are a riddle generator. Generate exactly 30 short, original, family-friendly riddles with their answers. Output only a JSON array, nothing else. Each element must look like: { \"riddle\": \"…\", \"answer\": \"…\" } No Markdown, no backticks, no explanation text."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        944,
        208
      ],
      "id": "81eb2c10-2f77-4b51-8ab2-5f4ace70ba16",
      "name": "Basic LLM Chain",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return [];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -160
      ],
      "id": "e727eeb9-0f88-47a4-852c-5fbf610ff41c",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Look at items that went out of the TRUE branch of the IF node\n// 0 = true output, 1 = false output\nconst trueItems = $('If').all(0);   // <-- replace If with your IF node's name\n\n// If we DO have unused riddles (true branch has items),\n// then we don't want to run the refill (false branch) in this execution.\nif (trueItems.length > 0) {\n  // Return empty array = stop this branch completely\n  return [];\n}\n\n// If there were NO unused riddles, then run refill once.\n// Emit a single dummy item that will trigger the LLM chain.\nreturn [\n  { json: { refill: true } }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        96
      ],
      "id": "74e0ea80-a689-48ef-9549-6e1887a8ed47",
      "name": "Check If True"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw string returned by the AI Agent\nconst rawString = $json.output;\n\n// Find the first '{' and the last '}' to isolate the JSON object\nconst start = rawString.indexOf('{');\nconst end = rawString.lastIndexOf('}');\n\nif (start === -1 || end === -1) {\n  throw new Error('No JSON object found in AI Agent output');\n}\n\n// Extract just the JSON substring\nconst jsonSubstring = rawString.slice(start, end + 1);\n\n// Parse it into a real JS object\nconst parsed = JSON.parse(jsonSubstring);\n\n// Return tweet + subject as clean fields\nreturn [\n  {\n    json: {\n      tweet: parsed.tweet,\n      subject: parsed.subject,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -160
      ],
      "id": "98e11211-52db-4f78-a95d-54b2fd5aacae",
      "name": "Message Parser"
    },
    {
      "parameters": {
        "jsCode": "// AI output is a string containing a JSON array\nconst rawString = $json.text;   // 👈 was $json.output\n\nif (typeof rawString !== 'string') {\n  throw new Error('LLM output is not a string. Got: ' + typeof rawString);\n}\n\n// Extract only the JSON array part between the first [ and last ]\nconst start = rawString.indexOf('[');\nconst end = rawString.lastIndexOf(']');\n\nif (start === -1 || end === -1) {\n  throw new Error('No JSON array found in LLM output');\n}\n\nconst jsonSubstring = rawString.slice(start, end + 1);\n\n// Parse into JS array\nconst riddles = JSON.parse(jsonSubstring);\n\n// Turn each riddle into an n8n item, with used = FALSE\nreturn riddles.map(r => ({\n  json: {\n    riddle: r.riddle,\n    answer: r.answer,\n    used: false  // or 'FALSE' if you want literal text\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        208
      ],
      "id": "454bffb5-aee2-4ae3-803b-b13457573cd2",
      "name": "Riddle Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Riddle Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If True": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Parser": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Riddle Parser": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2da65fcf-9510-4874-a140-e337af8f5e3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ccf733548d23f91bb0b6277631629d04096c1e0a087cf70a95bcf802bc98b7a"
  },
  "id": "A4QHtQFPg0cdkbrK",
  "tags": []
}